.newsletter {
    background: linear-gradient(135deg, #f8f9fa, #e2e6ea);
}

.newsletter-content {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.newsletter h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.newsletter p {
    margin-bottom: 20px;
    text-align: center;
    color: #555;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

.newsletter-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #615EFC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 10px;
    color: green;
}