.sidebar {
    width: 15%;
    height: 100vh;
    display: inline-block;
    background-color: #615EFC;
    padding: 10px 20px;
}

.sidebar h2 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

ul a {
    color: white;
    padding: 4px 8px;
    transition: 0.5s ease;
    border-radius: 4px;
    margin-bottom: 4px;
}

ul a:hover {
    background: #7E8EF1;
}

.active {
    background: #7E8EF1;
}