/* .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    color: white;
    background: #615EFC;
}
nav a{
    color: white;
    margin-right: 30px;
    padding: 6px 8px;
    transition: 0.5s ease;
    border-radius: 4px;
}
nav a:hover{
    background: #7E8EF1;
}


.profile-pic{
    width: 50px;
    border-radius: 50%;
} */
.navbar{
    box-sizing: border-box;
}
/* ul a{
    margin-right: 12px;
    color: white;
    font-size: 18px;
    padding: 4px 8px;
} */

.active{
    background: #7E8EF1;
}

.logo{
    color: white;
    font-size: 40px;
}